.arrow {
  text-align: center;
  margin: auto;
  width: 100%;
}
.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  10%,
  20%,
  30%,
  40%,
  50% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-15px);
  }
  25% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(-5px);
  }
  45% {
    transform: translateY(-2px);
  }
}
