html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #222;
  font-family: 'Miriam Libre', 'Helvetica', 'Arial', sans-serif;
}

.displayNone {
  display: none !important;
}
